*body{
    background-color: azure;
}

.form-container {
    margin: 13% auto;
    display: block;
    width:500px;
    text-align:center;
  }
  
.form-container label{
    margin-bottom: 10px;
    font-size: 17px;
}